
    <div class="container">
    <h1>Main roles of the Lock & Key</h1>
    <ul>
        <li>Rendell Locke</li>
        <li>Nina Locke</li>
        <li>Tyler Locke</li>
        <li>Kinsey Locke</li>
        <li>Bode Locke</li>
        <li>Dodge</li>
        <li>Duncan Locke</li>
        <li>Jamie Bennett </li>
        <li>Lucas</li>
        <li>Erin Voss</li>
        <li>Jackie Veda</li>
        <li>Sam Lesser</li>
        <li>Ellie Whedon</li>
        <li>Josh Bennett</li>
        <li>Eden Hawkins</li>
    </ul>
    <img src="/images/cast.png" alt="cast">
</div>
