
    <div class="container">
    <h1>Here are the keys</h1>

    <h3>THE ANYWHERE KEY</h3>
    <p>This first-ever key introduced within the show is also undoubtedly one of its most powerful ones. It allows the user to travel anywhere in the world — as long as they’ve seen the door they want to travel through. While Bode uses it to visit the Matheson ice cream parlor, Dodge (AKA the demonic being seeking to control all the keys) uses it to travel around the world, commit murder, and free Scott Lesser (one of the series’ lesser, human villains) in her bid to further antagonize the Locke family.</p>
    <img src="/images/Anywhere_key.png" alt="anywhere key">
    <br>
    <h3>THE MIRROR KEY</h3>
    <p>The second key that Bode Locke discovers is one entirely made up for the show, but it serves a few important purposes, beyond being completely chill-inducing. Not only does it bring your reflection to life in the mirror (creepy smile reflection included), but it also seems to beckon the user into its mirror world so it can trap them there in a sort of Prison of the Self, with seemingly no way out until someone else comes to the rescue. As is the case when Nina gets trapped in there, and her son Tyler must go in after her. (It’s also important to note that this is one of the first instances in which we learn that key magic affects adults differently, as they seem to forget it exists unless they’re inebriated.)</p>
    <img src="/images/Mirror_key.png" alt="mirror key">
    <br>
    <h3>THE MATCHSTICK KEY</h3>
    <p>Like the name says, this key acts as a matchstick, allowing users to set fire to whichever location or thing they want, by simply striking the key against it like you would a real matchstick. It’s one of the few keys that doesn’t require a door or even a lock, and it’s useful in that it can be used tactically, like Bode does when he turns it into a weapon by sticking it in his broken toy lightsaber.</p>
    <img src="/images/Matchstick_key.jpg" alt="mirror key">
    <br>
    <h3>THE HEAD KEY</h3>
    <p>The key with the most iconic design — a key with a head for its “handle” — lets its user travel into a person’s mind and explore their feelings, their subconscious, and their memories. It also lets you store items within your mind, which means you could leave a whole textbook in there and suddenly gain its knowledge. Of course, like most of the other keys, it also comes with a few drawbacks, as not only do users run the risk of being trapped within their own minds, but memories can only be recalled as you experienced them, which means not everything you see is to be trusted.</p>
    <img src="/images/Head_key.jpg" alt="head key">
    <br>
    <h3>THE GHOST KEY</h3>
    <p>This key allows the user to leave their physical form and exist solely as a spirit, undetectable to human senses. But while this allows for plenty of opportunities to spy on other people, it also comes with some very big caveats. The first is that it can only ever be used on one door in Keyhouse, and that it must remain open the whole time the spirit and the body have been separated because if it shuts you’ll be trapped indefinitely — appearing dead to whoever finds you. (Bode describes the body as being like a sock without a foot.)</p>
    <img src="/images/Ghost_key.jpg" alt="ghost key">
    <br>
    <h3>THE MUSIC BOX KEY</h3>
    <p>Not only does this key activate a magical music box, but it allows its wielder to turn another person into their puppet by controlling their entire body. Granted, much like the rules around the Anywhere Key, the person being controlled must actually hear the music playing. Kinsey goes from using it to tell Tyler to shut up (an order he cannot negate no matter how much he struggles) to using it to teach a school bully a lesson.</p>
    <img src="/images/Music_box_key.jpg" alt="music box key">
    <br>
    <h3>THE PLANT KEY</h3>
    <p>This key doesn’t feature in the comics that much, but within the show, we learn that the key activates a tree that has the kids’ uncle (and their father’s brother) Duncan Locke’s memories stored in its roots. Upon further investigation, they learn that this is why he cannot remember certain instances from his youth. In order to store the memory, it must be taken from him fully, leaving him hazy when he tries to recall it.</p>
    <img src="/images/Plant_key.jpg" alt="plant key">
    <br>
    <h3>THE IDENTITY KEY</h3>
    <p>Perhaps the most pivotal key of all, this one allows the user to change their appearance, and change that of others as well. Dodge uses it to get closer to the Locke family and eventually trick them a few different times. The person using the key can transform into someone of a different gender, race, age, and even weight, meaning its capacity for chaos is endless. (In the comics, this is known as the “Gender Key,” but the show appears to have enhanced its ability.)</p>
    <img src="/images/Identity_key.jpg" alt="identity key">
    <br>
    <h3>THE MENDING KEY</h3>
    <p>This one works in tandem with the Mending Cabinet, as broken objects must be locked inside, so they can be fixed and once again emerge whole again. Sadly, this does not work on dead people, as Nina learns when she places the remains of her dead husband Rendell in there. This is one of the more straightforward keys so far, but perhaps it will have more narrative significance going forward.</p>
    <img src="/images/Mending_key.jpg" alt="mending key">
    <br>
    <h3>THE OMEGA KEY</h3>
    <p>This powerful key opens the Black Door, a portal to another realm, where parasitic demonic beings exist. And while they can travel through into our world, they require a host to keep living here, so combust pretty quickly upon crossing over, eventually cooling into a kind of “whispering” iron. The original “Keepers of the Keys” (Rendell Locke and his friends) first found the Omega Key and opened the Black Door, thus unleashing Dodge into our world.)</p>
    <img src="/images/Omega_key.jpg" alt="omega key">
    <br>
    <h3>THE ECHO KEY</h3>
    <p>Ellie Whedon steals and secretly uses this key, which reveals its horrifying ability to bring people back from the dead… but as a former shadow of themselves, aka an “echo.” In this case, the person it brings back returns corrupted by one of the demonic forces behind the Omega Door, which only causes more problems for everyone involved. However, there is some (slightly) good news: any person brought back can only remain in the well house and never really travel outside its bounds. Of course, this changes if the person is in possession of the Anywhere Key, as that would allow them to travel outside and anywhere they want.</p>
    <img src="/images/Echo_key.png" alt="echo key">
    <br>
    <h3>THE SHADOW KEY</h3>
    <p>This must be placed in the Crown of Shadows, which then allows the wearer to control a host of shadow monsters, with all of them taking whatever shape the wearer wishes them to. However, seeing as they are still made of shadows at the end of the day, any source of light quickly destroys them.</p>
    <img src="/images/Shadow_key.png" alt="shodow key">
    <br>
    <h3>The Hercules Key</h3>
    <p>The Hercules Key is one of the most entertaining new keys. The keyhole for the Hercules Key is found in a belt buckle; when a person wears that belt and turns the key, they are granted super-strength. It's difficult to say how strong the Hercules Key makes a person, but at the very least it seems to be comparable to that of a demon; the Hercules Key allows Kinsey to match Eden blow-for-blow in one scene, and Scot is later able to use it to toss around demons as well.</p>
    <img src="/images/Hercules_key.png" alt="Hercules key">
    <br>
    <h3>The Demon Key</h3>
    <p>One of the new keys forged in Locke & Key season 2, the Demon Key is crafted at Dodge's request by an unwilling Duncan (played by Aaron Ashmore). It created gateways to the demon world, and turning the key in a person allows a creature from the demon world to inhabit them. Dodge deliberately ensured an element of control was placed upon the Demon Key, meaning the demons unleashed on this world are bound to the will of the person who turned the key; that particular magic backfired, because Duncan has a stronger bond with the key given he was the one who forged it. Dodge envisioned the Demon Key as a way to launch a demon invasion without needing the Black Door, but ironically its power was turned against her.</p>
    <img src="/images/Demon_key.jpg" alt="demon key">
    <br>
    <h3>The Alpha Key</h3>
    <p>The Alpha Key is Tyler's answer to the Demon Key - even if it doesn't quite work how he'd hoped. When a person is possessed by a demon, turning the Alpha Key in them destroys the creature; although it frees the human host, the experience is sadly fatal, and they die from a brain aneurysm. The Alpha Key had a surprising effect on Dodge, however; because she was possessing the host of an Echo, a magically created duplicate, it proved a lot more effective in that particular case. Dodge was destroyed, and the Echo - Lucas - was able to survive the process.</p>
    <img src="/images/Alpha_key.png" alt="alpha key">
    <br>
    <h3>The Angel Key</h3>
    <p>Most of the keys in Locke & Key seem to turn up just before they're needed, but the ghost Chamberlain Locke carefully engineered circumstances to ensure the kids got hold of the Angel Key and the harness it fits in. When a person puts on the harness and turns the key, they grow beautiful feathered wings and are granted the power of flight. Kinsey was able to use the Angel Key to dramatic effect in order to distract Dodge (the main villain from the series), and then engaged her in a battle, demonstrating instinctive maneuverability. The wings appear to be very forceful, with Kinsey using them to swat aside demons with ease.</p>
    <img src="/images/Angel_key.jpg" alt="angle key">
</div>
