
    <div class= "container">
    <h1>Lock & Key</h1>
    <p>”
        The keys... they can bring about the greatest good, or the darkest evil, and you, the maker, get to decide.
        ” <br>
        <strong>–Duncan Locke</strong></p>
        
    <div class="links">
    <a href="/about">About</a>
    <a href="/cast">Cast</a>
    <a href="/gallery">Gallery</a>
</div>
<img src="/images/homePage.jpeg" alt="Main lead">
</div>
